/* 
Project Name: CV site
Client: Me
Author: Alexander Beuge
*/

/******************************************
/* COLOURS
/*******************************************/

/* YELLOW: #fbd234  INACTIVE LINKS: #a1a1a1  
ACTIVE LINK: #dbdcde  NAV BAR Grey: #373837;
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

html {
	background: #f7f5f4;
}

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {
	background: #373837;
	margin: 0 auto;
	width: 960px;
	height: 100px;
	display: flex;
	position: fixed;
	z-index: 2;
}

.logo {
	margin: 13px 0px 14px 33px;
	border-right: solid 1px #494949;
	padding-right: 34px;
}

.site-nav {
	float: right;
	display: inline-block;
	margin-top: 33px;
	margin-left: 164px;
}

li {
	display: inline-block;
	padding-right: 34px;
	font-size: 14px;
}

#ILLUSTRATION-underscore { /* ILLUSTRATION */
    text-decoration: none;
	border-bottom: solid 2px #fbd234;
}

#active-link { /* ABOUT */
	text-decoration: none;
}

.logo-type {
	display: block;
	padding-left: 8px;
}

#alexanderbeuge { /* ALEXANDER BEUGE */
	color: #f1f1f2;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 0;
	margin-top: 11px;
	margin-left: px;
	line-height: 130%;
}

#B-underscore { /* B_EUGE */
	text-decoration: none;
	border-bottom: solid 3px #fbd234;
}


#designer { /* DESIGNER */
	color: #cccccc;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding:0;
	margin-top: 7px;
}


a {
	text-decoration: none;
}

nav a {
	color: #a1a1a1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	height: 10px;
}


 ul {
 	list-style-type: none;
 	display: flex;
    margin: 0;
    height: 5px;
 }

 li a:hover {
    color: #fbd234;
}

a:active { /* When link is pressed*/
    color: #fff;
}

#active-link { 
	color: #dbdcde;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.backgroundimage { /* Grey on grey shapes */
	position: fixed;
	z-index: -1;
	margin-top: 50px;
	display: inline;
}

#main-text {/* Container for ABOUT ME text */
	width: 410px;
    display: flex;
    float: left;
    flex-direction: column;
    z-index: 1;
    margin-top: 150px;
    margin-left: 48px;
    margin-bottom: 25px;
    position: relative;
}

h2 { /* ABOUT ME */
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 24px;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	float: right;
	z-index: 0;
}

#a-underscore { /* LOVE____ */
	text-decoration: none;
	border-bottom: solid 4px #e74328;
}

p { /* I LOVE ILLUSTRATION text */
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	line-height: 135%;
	float: right;
	z-index: 0;
}

h3 { /* I LOVE ILLUSTRATION text */
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	line-height: 135%;
	float: right;
	z-index: 0;
}

.yellow-highlight { /* www.beugism.com */
	background-color: #fff100;
	border-left: 4px solid #fff100;
	border-right: 5px solid #fff100;
	font-weight: 400;
}

#beugism-link { /*The default colour of www.beugism.com link remains black*/
	color: #000;
}

#beugism-link a:hover {
    color: #000;
    font-weight: 600;
}

.illo-container {
	width: 864px;
	height: 874px;
	margin-top: 380px;
	margin-left: 48px;
	margin right: 48px;
	margin-bottom: 26px;
	/*border: solid 1px red;*/
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.illo {
	position: relative;
}

.triangle {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	border-top: 117px solid rgba(251,210,52,1);
	border-left: 204px solid transparent;
}


.thumbnail {
	width: 204px;
	/*padding: 0 16px 16px 0;
	display: inline-flex;*/
}

/*
a.illo:hover {
	border-style: inset;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 204px 204px 0;
	border-color: transparent #fbd334 transparent transparent;
}*/


.site-footer {
    color: #adadad;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 12px;
	float: left;
	margin-left: 48px;
	margin-top: -30px;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




