/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* YELLOW: #fbd234  INACTIVE LINKS: #a1a1a1  
ACTIVE LINKS: #dbdcde
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/
html {
	background: #f7f8f8;
}

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.navcontainer {
	background: #373837;
	margin: 0 auto;
	width: 960px;
	height: 100px;
	display: flex;
}


.logo {
	margin: 13px 0px 14px 33px;
	border-right: solid 1px #494949;
	padding-right: 34px;
	
	
	/*border: solid 1px red;*/
}

.sitenav {
	display: inline-block;
}

/*img {
	max-width: 100%;
}*/

.logo-type {
	display: block;
	padding-left: 8px;


}

#alexanderbeuge {
	color: #f1f1f2;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	height: 18px;
	padding: 0;
	margin-top: 13px;
	margin-left: px;
	line-height: 130%;
}

.yellow-underscore {

}

span {
	text-decoration: underline;
	text-decoration-color: yellow;
}

#designer {
	color: #cccccc;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	height: 18px;
	padding:0;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: #a1a1a1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	height: 10px;
}

 ul {
 	list-style-type: none;
 	display: inline-flex;
    margin: 0;
    padding: 0;
    height: 5px;
 }

 li a:hover {
    color: #fbd234;
}

a:active { 
    background-color: #fff;
}

#active-link {
	text-decoration: underline;
	color: #dbdcde;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	height: 14px;
}

.main-image {
	border-bottom: solid 6px #fbd234;
	z-index: 0;
	position: fixed;
}

#quote {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	height: 26px;
	color: #373837;
	z-index: 1;
	position: relative;
	margin-top: 0;
	float: right;
}

#shrinks {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	text-decoration: none;
}

#expands {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	text-decoration: none;
}

#author {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	height: 14px;
	text-decoration: none;
	float: right;
}


.site-header h1 {
	color:red;
}
.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




