/* 
Project Name: CV site
Client: Me
Author: Alexander Beuge
*/

/******************************************
/* COLOURS
/*******************************************/

/* YELLOW: #fbd234  INACTIVE LINKS: #a1a1a1  
ACTIVE LINKS: #dbdcde
*/

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

html {
	background: #f7f5f4;
}

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {
	background: #373837;
	margin: 0 auto;
	width: 960px;
	height: 100px;
	display: flex;
	position: fixed;
	z-index: 2;
}

.logo {
	margin: 13px 0px 14px 33px;
	border-right: solid 1px #494949;
	padding-right: 34px;
	/*border: solid 1px red;*/
}

.site-nav {
	float: right;
	display: inline-block;
	margin-top: 33px;
	margin-left: 164px;
}

li {
	display: inline-block;
	padding-right: 34px;
	font-size: 14px;
}

#ABOUT-underscore { /* ABOUT */
    text-decoration: none;
	border-bottom: solid 2px #fbd234;
}

#active-link { /* ABOUT */
	text-decoration: none;
}

.logo-type {
	display: block;
	padding-left: 8px;
}

#alexanderbeuge { /* ALEXANDER BEUGE */
	color: #f1f1f2;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding: 0;
	margin-top: 11px;
	margin-left: px;
	line-height: 130%;
}

#B-underscore { /* B_EUGE */
	text-decoration: none;
	border-bottom: solid 3px #fbd234;
}


#designer { /* DESIGNER */
	color: #cccccc;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding:0;
	margin-top: 7px;
}

a {
	text-decoration: none;
	color: #a1a1a1;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	height: 10px;
}

 ul {
 	list-style-type: none;
 	display: flex;
    margin: 0;
    height: 5px;
 }

 li a:hover {
    color: #fbd234;
}

a:active { /* When link is pressed*/
    color: #fff;
}

#active-link { 
	text-decoration: underline;
	color: #dbdcde;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.main-image { /* Alex in his studio */
	border-bottom: solid 6px #fbd234;
	margin-top: 100px;
	z-index: 0;
	position: fixed;
}

.backgroundimage { /* Grey on grey shapes */
	position: relative;
	z-index: -1;
	margin-top: 328px;
	display: inline;
}

#quote { /* Life shrinks or expands
in proportion to one’s
courage {or CSS}. */
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 26px;
	color: #373837;
	z-index: 1;
	position: relative;
	margin-top: 158px;
	margin-right: 38px;
	float: right;
	line-height: 124%;
}

#shrinks { /* Life SHRINKS or expands... */
	font-family: 'Merriweather', serif;
	font-weight: 300;
	text-decoration: none;
}

#expands { /* Life shrinks or EXPANDS... */
	font-family: 'Merriweather', serif;
	font-weight: 900;
	text-decoration: none;
}

#author { /* ANAIS NIN */
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	text-decoration: none;
	float: right;
    margin-right: 20px;
    margin-top: 16px;
}

#main-text {/* Container for ABOUT ME text */
	width: 300px;
    display: flex;
    float: right;
    flex-direction: column;
    z-index: 1;
    margin-right: 46px;
}

h1 { /* ABOUT ME */
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 24px;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	
	float: right;
}

#a-underscore { /* A_BOUT */
	text-decoration: none;
	border-bottom: solid 4px #8d8f91;
}

p { /* ABOUT ME text */
	color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	line-height: 135%;
	
	
	float: right;
}


.socialmedia-container {
	display: inline-block;
	float: right;
	margin-right: 63px;
}

.social { /* Social media icons */
	height: 30px;
	padding-right: 21px;
}

.site-header {
	color:red;
}
.site-content {

}
.site-footer {
    color: #000;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 12px;
	float: right;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




